absl-py==2.1.0
altair==4.2.2
anyio==3.7.1
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
AudioRecorder==0.1
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
filetype==1.2.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.5.5
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-speech==2.26.1
google-pasta==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.65.1
grpcio-status==1.65.1
gTTS==2.5.2
h5py==3.11.0
imblearn==0.0
imutils==0.5.4
inflection==0.5.1
jsonpointer==2.1
keras==3.4.1
libclang==18.1.1
matplotlib==3.9.1
mkl-service==2.4.0
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
numpy==1.26.4
openai==0.27.4
opencv-python==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
pandas==1.5.3
patsy==0.5.3
ply==3.11
proto-plus==1.24.0
protobuf==3.20.3
pyasn1-modules==0.2.8
PyAudio==0.2.14
pycurl==7.45.2
PyDispatcher==2.0.5
pydot==2.0.0
pydub==0.25.1
pyls-spyder==0.4.0
Pympler==1.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
rsa==4.9
scipy==1.11.4
SpeechRecognition==3.10.4
streamlit==1.37.0
streamlit-audiorecorder==0.0.5
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
webencodings==0.5.1
xgboost==2.1.0
zstandard==0.19.0
